h1
{
    font-size: 15px;
    }
.btn-success:hover
{
    background-color: darkseagreen;
}
canvas
{
    animation-name:example;
    animation-duration:1s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from {
        box-shadow :1px 1px 90px orangered;
    }
    to {
        box-shadow :1px 1px 90px rgb(1, 27, 29);
    }
}

